
<div appNgxResize  class="resizeable" [width]="width" [height]="height" [left]="left" [top]="top">
  test
  <div appNgxResizeRight class="resizehandlerRight" (drags)="changeInWidthDrag($event);" (drops)="changeInWidthDrop($event);"></div>
  <div appNgxResizeLeft class="resizehandlerLeft" (drags)="changeInWidthLeftDrag($event);" (drops)="changeInWidthLeftDrop($event);"></div>
  <div appNgxResizeTop class="resizehandlerTop" (drags)="changeInHeighthTopDrag($event);" (drops)="changeInHeightTopDrop($event);"></div>
  <div appNgxResizeBottom class="resizehandlerBottom" (drags)="changeInHeighthDrag($event);" (drops)="changeInHeightDrop($event);"></div>
</div>